/* =============================================================================
  FONTS
============================================================================= */

@font-face {
	font-family: 'WaitingForSunrise';
	src: url('../fonts/sunrise.eot');
	src: url('../fonts/sunrise.eot?#iefix') format('embedded_opentype'),
	url('../fonts/sunrise.woff') format('woff'),
	url('../fonts/sunrise.ttf') format('truetype'),
	url('../fonts/sunrise.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ShadowIntoLight';
	src: url('../fonts/light.eot');
	src: url('../fonts/light.eot?#iefix') format('embedded_opentype'),
	url('../fonts/light.woff') format('woff'),
	url('../fonts/light.ttf') format('truetype'),
	url('../fonts/light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand.eot');
	src: url('../fonts/quicksand.eot?#iefix') format('embedded_opentype'),
	url('../fonts/quicksand.woff') format('woff'),
	url('../fonts/quicksand.ttf') format('truetype'),
	url('../fonts/quicksand.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =============================================================================
  BASE STYLES
============================================================================= */

*:focus {
	outline: none!important;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

body,
input {
	font-size: 12px;
	color: white;
	background-color: black;
	line-height: 1.4;
	font-family: 'Quicksand', 'Arial Black', sans-serif !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
	color: white;
}

a {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: pink;
}

::-moz-placeholder { /* Firefox 19+ */
	color: pink;
}

:-ms-input-placeholder { /* IE 10+ */
	color: pink;
}

:-moz-placeholder { /* Firefox 18- */
	color: pink;
}

@-webkit-keyframes blink { from, to { color: transparent; } 50% { color: #212121; } }
@-moz-keyframes blink { from, to { color: transparent; } 50% { color: #212121; } }
@-o-keyframes blink { from, to { color: transparent; } 50% { color: #212121; } }
@-ms-keyframes blink { from, to { color: transparent; } 50% { color: #212121; } }
@keyframes blink { from, to { color: transparent; } 50% { color: #212121; } }

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/* =============================================================================
  LOGO STYLES
============================================================================= */

.satuhearty-wrap {
	position: fixed;
	z-index: 9999;
	top: 1vh;
	left: 1vh;
}

.satuhearty {
	height: 3vh;
	width: 3vh;
}

/* =============================================================================
  FLOAT MENU
============================================================================= */

.float-menu {
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 70px;
	height: 70px;
	z-index: 9999;
}

.float-menu {
	-webkit-perspective: 800px;
	perspective: 800px;
}

.float-menu::before,
.float-menu::after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/menu-icon.png') no-repeat;
	background-size: 70px;
	content: "";
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.float-menu::before {
	z-index: 2;
}

.float-menu::after {
	z-index: 1;
	opacity: 0;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.float-menu:hover::before {
	opacity: 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.float-menu:hover::after {
	opacity: 1;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.float-menu::before {
	background: url('../images/menu-icon.png') no-repeat;
	background-size: 70px;
}

.float-menu::after {
	background: url('../images/menu-close.png') no-repeat;
	background-size: 70px;
}

.menu::before,
.menu::after {
	content:"";
	display:table;
}

.menu::after {
	padding: 60px 20px 20px 0;
}

.submenu {
	cursor: pointer;
	text-align: right;
	color: white;
	font-size: 120%;
	width: 125px;
	height: 50px;
	margin-right: 20px;
}

.submenu a:hover {
	border-bottom: 2px solid;
}

.menu {
	position:absolute;
	*zoom:1;
	list-style:none;
	margin:0;
	padding:0;
	bottom: 0;
	right: 0;
	z-index:1;
	max-height:0;
	overflow:hidden;
	-webkit-transform-origin:50% 0;
	-webkit-transition:350ms;
	-moz-transition:350ms;
	-o-transition:350ms;
	transition:350ms;
}

@media (max-width: 600px) {
	.menu {
		background: rgba(0, 0, 0, .75);
	}

	.submenu {
		height: 30px;
		font-size: 100%;
	}

	.float-menu {
		bottom: 5px;
		right: 5px;
	}
}

.float-menu:hover ul {
	max-height:1000px;
	-webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

/* =============================================================================
  FULLPAGE STYLES
============================================================================= */

.fp-controlArrow {
	position: absolute;
	width: 48px !important;
	height: 48px;
	z-index: 4;
	top: 50%;
	cursor: pointer;
	border-width: 0 !important;
}

.fp-controlArrow.fp-prev {
	left:0;
	background: url('../images/left-arrow.png') no-repeat;
}

.fp-controlArrow.fp-next {
	right:0;
	background: url('../images/right-arrow.png') no-repeat;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: white;
}

.fp-slidesContainer {
	width: 100%!important;
	transform: none!important;
}

.fp-slide {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	transition: all .9s ease-in-out;
}

.fp-slide.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.section {
	text-align:center;
	font-size: 1.4vh;
}

/* =============================================================================
  MAIN SECTION STYLES
============================================================================= */

.image-slider {
	width: 100%;
}

.slide-container {
	position: relative;
}

.slide-one-text,
.slide-two-text,
.slide-three-text,
.slide-four-text {
	position: absolute;
	background: rgba(0, 0, 0, .7);
	padding: 10px 20px;
	font-size: 1.5em;
}

.slide-one-text {
	bottom: 30%;
	right: 10%;
}

.slide-two-text,
.slide-three-text {
	bottom: 35%;
	right: 3%;
}

.slide-four-text {
	top: 20%;
	right: 5%;
}

/* =============================================================================
  INFO SECTION STYLES
============================================================================= */

#info {
	width: 80%;
	height: 80%;
	margin: auto;
}

.col-xs {
	padding: 1vh;
	/*background-color: #7F7E7E;*/
	border-radius: 10px;
	margin: auto;
}

.info-block {
	padding: 1vh;
	border-radius: 10px;
	margin: auto;
	transition: all .2s ease-in-out;
}

.info-block:hover {
	transform: scale(1.1);
}

.info-title {
	font-size: 130%;
	margin: .6em 0;
}

.info-description {
	font-size: 110%;
}

.row {
	padding: 0 3vh;
	height: 20%;
	flex-wrap: nowrap;
}

.rsvp-logo,
.maps-logo,
.website-logo {
	width: 3vh;
}

.social-sharing-logo,
.responsive-logo {
	width: 13vh;
}

.photo-gallery-logo {
	width: 4vh;
}

/* =============================================================================
  WORK SECTION STYLES
============================================================================= */

.mm {
	margin: auto auto 3vh auto;
	max-width: 30vh;
	height: 12vh;
	background: url('../images/mm.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.box {
	padding: 0 5px;
}

.work-details {
	font-size: 115%;
	z-index: 1000000;
}

.work-details:hover {
	text-decoration: underline;
}

/* =============================================================================
  CREW SECTION
============================================================================= */

.crew-image {
	max-width: 12vh;
	border-radius: 500px;
	border: 3px solid #ffffff;
}

.company-info {
	text-align: justify;
	height: auto;
	margin-bottom: 2vh;
	padding: 0 4vh;
	font-size: 120%;
}

/* =============================================================================
  FORM SECTION
============================================================================= */

.request-form {
	top: 20% !important; /* override the top for other sections */
	font-size: 2vh !important;
	line-height: 4vh !important;
}

.request-input {
	font-size: 2vh !important;
	border: 0;
	background: none;
	border-bottom: 2px solid;
}

.submit-container {
	margin-top: 4vw;
}

.submit-btn {
	background: none;
	border: 0.3vw solid white;
	padding: 1vw 4vw;
	color: white;
	font-family: 'Quicksand', 'Arial Black', sans-serif !important;
}

.submit-btn:hover {
	color: black;
	background-color: white;
}

/* =============================================================================
  ABOUT SECTION STYLES
============================================================================= */

.about-title {
	font-size: 140%;
	margin-bottom: 0;
}

.about-subtitle {
	font-size: 110%;
	margin: .5em 0 1em 0;
}

/* =============================================================================
  ICONS STYLES
============================================================================= */

.component {
	text-align: center;
}

.component__title {
	margin-bottom: 12px;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}

.icon {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin: 4px;
	width: 96px;
	height: 96px;
	font-size: 0;
	text-indent: -9999px;
}

.icon-slide {
	position: relative;
}

.icon-slide::before,
.icon-slide::after {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../images/social-icon.png') no-repeat;
	content: "";
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}

.icon-slide::before {
	left: 0;
	background-color: #595959;
}

.icon-slide::after {
	left: -100%;
}

.icon-slide:hover::before {
	left: 100%;
}

.icon-slide:hover::after {
	left: 0;
}

/* facebook */
.icon-slide.facebook::before,
.icon-slide.facebook::after {
	background-position: 40px 15px;
}

.icon-slide.facebook::after {
	background-color: #3b5998;
}

/* twitter */
.icon-slide.twitter::before,
.icon-slide.twitter::after {
	background-position: -55px 15px;
}

.icon-slide.twitter::after {
	background-color: #4099ff;
}

/* instagram */
.icon-slide.instagram::before,
.icon-slide.instagram::after {
	background-position: -160px 15px;
}

.icon-slide.instagram::after {
	background-color: #D4368F;
}

/* =============================================================================
  FOOTER STYLES
============================================================================= */

.footer {
	height: auto !important;
	text-align: center;
}

.copyright {
	padding: 15px;
	background-color: #4c4c4c;
	color: white;
}
